- referer = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
.container
  .row
    .col-sm-12
      %h1 
        Directory for 
        = page_name
/ end Header
/ begin Content
%section
  .container
    .row
      .col-md-9.col-md-push-3.property-details.big
        .row
          - facilities.each do |f|
            - if current_user
              - f.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - f.add_to_views(:referer => referer)
            %article.panel.panel-default
              .panel-body
                .thumbnail
                  = link_to directory_path(f) do
                    - if  f.image.to_s.empty?
                      = image_tag '/assets/missing_facility.jpg', alt: f.name
                    - else
                      = image_tag f.image, alt: f.name
                %h3
                  = link_to directory_path(f) do
                    = f.name
                %p
                  %span.label.label-inverse= f.city.titleize
                  %span.label.label-inverse= f.state.titleize
                %p= raw f.description 
                %p.pull-right
                  = link_to directory_path(f), class: 'btn btn-inverse' do
                    View detail
        -# facilities.each do |f|
          .property-details-item
            %figure.item-thumbnail
              = link_to directory_path(f) do
                - if  f.image.to_s.empty?
                  = image_tag '/assets/missing_facility.jpg', alt: f.name
                - else
                  = image_tag f.image, alt: f.name
            %ul.features
              %li
                %span.price $ 250,000
              %li
                %i.icon-battery
                1 Bathrooms
              %li
                %i.icon-keyboard
                2 Bedrooms
              %li
                %button.btn.btn-details View Details
            %h5 
              = link_to directory_path(f) do
                = f.name
            %p.subtitle
              %i.icon-location
              = f.city
              = f.state
            %p= raw f.description

      %aside.col-md-3.col-md-pull-9
        = simple_form_for :facility, :url => directorys_path, html: { class: 'filters' }, method: 'GET' do |f| 
          #accordion.panel-group.boxes
            .panel
              .panel-heading
                .boxes-title
                  %span
                    %i.icon-location
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", :href => "#collapseLocation"}
                      Location
                      %i.icon-down-open-mini
              #collapseLocation.panel-collapse.collapse.in
                .panel-body
                  - us_states.each do |state|
                    .checkbox
                      %label
                        = f.input state[1], name: "#{state[0]}", as: :boolean, label: "#{state[0]} (#{facilities_count.where(:state => state[1]).count})"
            = f.input :facility, as: 'hidden', input_html: { value: params[:facility][:facility] }
            %button.btn.btn-search{:type => "submit"} Show More
