.header-bottom
  .container
    .row
      .col-sm-12
        %h1= facility.name
%section
  .container
    .row
      .col-md-12
        .boxes.single-property
          .row
            .col-md-12
              .onsale.alt
                %span= facility.type_of.titleize
                
              .boxes-title
                %span
                  %i.icon-location
                %h4= facility.name
              / Nav tabs
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#tab-photos"}
                    %span
                      %i.icon-picture
                    Photos
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-video"}
                    %span
                      %i.icon-video
                    Videos
              / Tab panes
              .tab-content
                #tab-photos.tab-pane.active
                  .slide
                    #slideshow
                    #thumbs
                      %a.pageLink.prev{:href => "#", :title => "Previous Page"}
                        %i.icon-left-open
                      %ul.thumbs.noscript
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single01.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb01.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single02.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb02.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single03.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb03.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single04.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb04.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single05.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb05.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single06.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb06.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single07.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb07.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single08.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb08.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single09.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb09.jpg"}/
                        %li
                          %a.thumb{:href => "/assets/img/property_single/single09.jpg"}
                            %img{:alt => "//", :src => "/assets/img/property_single/single-thumb09.jpg"}/
                      %a.pageLink.next{:href => "#", :title => "Next Page"}
                        %i.icon-right-open
                #tab-video.tab-pane
                  %iframe.video{:allowfullscreen => "", :src => "//www.youtube.com/embed/1D4-cGvpjmY"}
          .row
            .col-md-3
              %h5 Details
              %ul.details
                %li
                  %i.icon-check
                  Type:
                  = facility.type_of.titleize
                %li
                  %i.icon-check
                  Address:
                  = facility.city
                  = facility.state
                %li
                  %i.icon-check
                  Style: Single Story
                %li
                  %i.icon-check
                  Bathrooms: 3
                %li
                  %i.icon-check
                  Bedrooms: 4
                %li
                  %i.icon-check
                  Garage: Single
                %li
                  %i.icon-check
                  Lot Type: Rectangular
                %li
                  %i.icon-check
                  Size: 163 sq.m
                %li
                  %i.icon-check
                  Year built: 2013
                %li
                  %i.icon-check
                  MLS#: 55 L-SPS2
            .col-md-9
              %h5 Description
              %p= raw facility.description 
          .row
            .col-md-12
              %p.share
                Share this item:
                %a.btn.btn-social.btn-social-facebook{:href => "#"} Facebook
                %a.btn.btn-social.btn-social-twitter{:href => "#"} Twitter
                %a.btn.btn-social.btn-social-gplus{:href => "#"} Circles
          .row
            .col-md-12
              .boxes-title
                %span
                  %i.icon-location
                %h5 Video Tour
              %iframe.video{:allowfullscreen => "", :src => "//www.youtube.com/embed/1D4-cGvpjmY"}
          .row
            .col-md-12
              .boxes-title
                %span
                  %i.icon-location
                %h5 Contact Form
              %form.form-contact{:role => "form"}
                %fieldset
                  .row
                    .col-md-6
                      .form-group
                        %label.sr-only{:for => "name"} Name
                        %input#name.form-control{:placeholder => "Name", :type => "text"}/
                      .form-group
                        %label.sr-only{:for => "email"} Email
                        %input#email.form-control{:placeholder => "Email", :type => "email"}/
                    .col-md-6
                      .form-group
                        %label.sr-only{:for => "lastname"} Lastname
                        %input#lastname.form-control{:placeholder => "Lastname", :type => "text"}/
                      .form-group
                        %label.sr-only{:for => "phonenumber"} Phone Number
                        %input#phonenumber.form-control{:placeholder => "Phone Number", :type => "text"}/
                  .row
                    .col-md-12
                      .form-group
                        %label.sr-only{:for => "description"} Message
                        %textarea#description.form-control{:placeholder => "Message", :rows => "7"}
                %button.btn.btn-details
                  %i.icon-forward>
                  Send
