= simple_form_for(email_campaing_user, :url => users_email_campaing_user_path(email_campaing_user), html: {class: 'form-horizontal clearfix', novalidate: true}) do |f|
  %input{name: "ec[0]", type: "hidden"}
  - email_campaings.each do |ec|
    - list = Gibbon::API.lists.list({:filters => {:list_name => "#{ec.name}"}})
    - if list['data'] != []
      = ec.name
      %input{name: "ec[#{ec.id}]", id: "ec[#{ec.id}]",   type: "checkbox", value: 1 }/
      =# ec.email_campaing_users.where(:user_id => current_user).last.opt_in
    %br
  = f.button :submit, 'Save', class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'

- email_campaings.each do |ec|
  - list = Gibbon::API.lists.list({:filters => {:list_name => "#{ec.name}"}})
  - if list['data'] != []
    :javascript
      checked = #{ec.email_campaing_users.where(:user_id => current_user).last.opt_in}
      if (checked == true) {
        console.log (#{ec.id});
        console.log (checked);
        document.getElementById('ec[#{ec.id}]').checked = true;
      }
