.subheading
  %h3 Users
%table#tablesorting-1.table
  %thead
    %tr
      %th Username
      %th Email
      %th Name
      %th Active 
      %th Image
      %th
  %tbody
    - users.each do |u|
      %tr
        %td= link_to u.username, admins_user_path(u)
        %td= u.email
        %td= u.name
        %td
          - if u.active
            Yes
          -else 
            No
        %td
          - unless u.photo_url.to_s.empty?
            = image_tag u.photo
        %td= link_to 'Edit', edit_admins_user_path(u), class: 'pull-right btn btn-default btn-sm'
  %tfoot
    %tr
      %td.pager.form-horizontal{colspan: "6"}
        %button.btn.first
          %i.fa.fa-step-backward
        %button.btn.prev
          %i.fa.fa-arrow-left
        %span.pagedisplay
        / this can be any element, including an input
        %button.btn.next
          %i.fa.fa-arrow-right
        %button.btn.last
          %i.fa.fa-step-forward
        %select.pagesize.input-xs{title: "Select page size"}
          %option{selected: "selected", value: "10"} 10
          %option{value: "20"} 20
          %option{value: "30"} 30
          %option{value: "40"} 40
        %select.pagenum.input-xs{title: "Select page number"}
