.client-block
  .avatar
    %img{alt: "", src: "/assets/images/users/user-4.jpg"}/
  %ul.client-block-list
    %li
      -if user.active
        %span.label.label-success
          Active
      - else
        %span.label.label-danger
          Banned
      %h3= user.username 
      .dropdown
        %a.btn.btn-default.dropdown-toggle.btn-sm{"data-toggle" => "dropdown", href: "#"}
          %i.fa.fa-cog
          %i.fa.fa-caret-down
        %ul.dropdown-menu.pull-right.ext-dropdown-icons-right{role: "menu"}
          %li
            = link_to edit_admins_user_path(user) do 
              %i.fa.fa-edit
              Edit
          %li
            = link_to admins_users_banned_path(user) do
              %i.fa.fa-trash-o
              Banned
      / End .dropdown
    %li
      %p
    %li
      %span.text-muted 
        id 
      = user.id 
    %li
      %span.text-muted 
        username 
      = user.username 
    %li
      %span.text-muted 
        email 
      = user.email 
    %li
      %span.text-muted 
        first_name 
      = user.first_name 
    %li
      %span.text-muted 
        last_name 
      = user.last_name 
    %li
      %span.text-muted 
        gender 
      = user.gender 
    %li
      %span.text-muted 
        address 
      = user.address 
    %li
      %span.text-muted 
        recovery_type 
      = user.recovery_type 
    %li
      %span.text-muted 
        phone 
      = user.phone 
    %li
      %span.text-muted 
        reset_password_token 
      = user.reset_password_token 
    %li
      %span.text-muted 
        reset_password_sent_at 
      = user.reset_password_sent_at 
    %li
      %span.text-muted 
        remember_created_at 
      = user.remember_created_at 
    %li
      %span.text-muted 
        sign_in_count 
      = user.sign_in_count 
    %li
      %span.text-muted 
        current_sign_in_at 
      = user.current_sign_in_at 
    %li
      %span.text-muted 
        last_sign_in_at 
      = user.last_sign_in_at 
    %li
      %span.text-muted 
        current_sign_in_ip 
      = user.current_sign_in_ip 
    %li
      %span.text-muted 
        last_sign_in_ip 
      = user.last_sign_in_ip 
    %li
      %span.text-muted 
        confirmation_token 
      = user.confirmation_token 
    %li
      %span.text-muted 
        confirmed_at 
      = user.confirmed_at 
    %li
      %span.text-muted 
        confirmation_sent_at 
      = user.confirmation_sent_at 
    %li
      %span.text-muted 
        unconfirmed_email 
      = user.unconfirmed_email 
    %li
      %span.text-muted 
        failed_attempts 
      = user.failed_attempts 
    %li
      %span.text-muted 
        unlock_token 
      = user.unlock_token 
    %li
      %span.text-muted 
        locked_at 
      = user.locked_at 
    %li
      %span.text-muted 
        created_at 
      = user.created_at 
    %li
      %span.text-muted 
        updated_at 
      = user.updated_at 
    %li
      %span.text-muted 
        sober_date 
      = user.sober_date 
    %li
      %span.text-muted 
        birthday 
      = user.birthday 
