- referer = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
%section
  %article
    .container
      .row
        .col-md-9
          .boxes
            .boxes-title.home
              %span
                %i.icon-clock
              - unless current_user
                %h4 Join Recovery Anytime
              - else
                %h4 
            #carousel-house-dreams.carousel.slide.house-dreams{"data-ride" => "carousel"}
              - unless current_user
                .quick-search
                  %h4 Create an Account
                  = render 'registration'
              / Controls
              %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-house-dreams"}
                %i.icon-left-open
              %a.right.carousel-control{"data-slide" => "next", href: "#carousel-house-dreams"}
                %i.icon-right-open
              / Wrapper for slides
              .carousel-inner
                .item.active
                  %img{alt: "Meeting", src: "/assets/stock-photo-44532628-diverse-group-of-children-and-adults-talking-in-support-meeting.jpg"}/
                .item
                  %img{alt: "friends", src: "/assets/stock-photo-44524122-multi-ethnic-friends-having-fun-at-the-beach.jpg"}/
                .item
                  %img{alt: "Direcorty", src: "/assets/stock-photo-42255592-hotel-exterior-on-a-winter-night.jpg"}/
                .item
                  %img{alt: "Get Help Now", src: "/assets/stock-photo-44372374-customer-support-staff-pointing-away.jpg"}/
        .col-md-3
          .boxes
            - unless current_user
              .boxes-title
                %span
                  %i.icon-clock
                %h4 Login
              .property-item

                = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                  %ul
                    - resource.errors.full_messages.each do |e|
                      %li=e
                  = f.input :email      , label: false, input_html: { class: 'form-control input-lg', placeholder: "Email"      }
                  %br
                  = f.input :password   , label: false, input_html: { class: 'form-control input-lg', placeholder: "Password"   }
                  %br
                  = f.button :submit    , "Login", :class => 'btn btn-primary btn-block'
            - else
              .boxes-title
                %span
                  %i.icon-clock
                = link_to users_root_path, class: 'btn btn-success' do
                  %h4 Members Area
            -# Members: 
            -#= link_to '#', class: 'btn btn-success' do
              = number_with_delimiter(User.count)

              -#%form#new_user.form-quick-search{"accept-charset" => "UTF-8", action: "/users/sign_in", method: "post"}
                .form-group
                  %label.sr-only{for: "qs-operation"} Email Address
                  %input#email.string.required.form-control{"aria-required" => "true", maxlength: "255", name: "email", placeholder: "Email", size: "255", type: "text", value: ""}/
                .form-group
                  %label.sr-only{for: "qs-location"} Password
                  %input#password.string.required.form-control{"aria-required" => "true", maxlength: "255", name: "password", placeholder: "Password", size: "255", type: "password", value: ""}/
                .form-group
                  %input{name: "remember", type: "checkbox"}/
                  %span Remember Me
                %button.btn.btn-default{type: "submit"}
                  login
            -#.property-item
              %figure.item-thumbnail.darken
                %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
                %span.overthumb
                .icons
                  %a{href: "#"}
                    %i.icon-plus
              %p A new boutique building in the rem ipsum dolor sit...
              %p
                %i.icon-location>
                Chicago, USA
              %article
    .container.bordered
      = link_to get_help_now_path, class: 'btn btn-primary btn-block' do 
        %h2= t(:get_help_now)
      %h3{style: 'text-align:center;' }
        Do you need treatment or detox immediatly? 
        %br
        We can help 24/7
    .container.bordered
      %h2 Recovery Anytime is ....
      %p.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, omnis, porro, vero explicabo repellendus nisi quibusdam in aliquam nesciunt quos suscipit fuga aperiam et veniam ratione nemo doloremque a! Sed!
  %article.offers
    .container.bordered
      .row
        .col-md-4
          %figure
            %img{alt: "//", src: "/assets/stock-photo-32246458-i-m-happy-to-help.jpg"}/
          %h3{style: 'text-align:center;' } Seeking Help
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, enim deleniti doloribus dicta voluptates qui sit omnis.
        .col-md-4
          %figure
            %img{alt: "//", src: "/assets/stock-photo-45231460-campfire-of-friends-in-circle-on-the-fire.jpg"}/
          %h3{style: 'text-align:center;' } In Recovery
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam, debitis, nulla, laborum sequi molestiae accusamus quibusdam.
        .col-md-4
          %figure
            %img{alt: "//", src: "/assets/stock-photo-45215624-group-of-friends-with-hands-in-hands-teamwork.jpg"}/
          %h3{style: 'text-align:center;' } Friends & Family in Recovery
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eius, ipsum repellendus incidunt aut nobis tempore.
  -#%article.properties-tabs
    .container
      / Nav tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", href: "#featured"} Featured Properties
        %li
          %a{"data-toggle" => "tab", href: "#sale"} Recent Properties on Sale
        %li
          %a{"data-toggle" => "tab", href: "#rent"} Recent Properties for Rent
      / Tab panes
      .tab-content
        #featured.tab-pane.fade.in.active
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .clearfix
        #sale.tab-pane.fade
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .clearfix
        #rent.tab-pane.fade
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular02.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular01.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .property-item
            %figure.item-thumbnail.darken
              %img{alt: "//", src: "/assets/img/houses/popular03.jpg"}/
              %span.overthumb
              .icons
                %a{href: "#"}
                  %i.icon-plus
            %p A new boutique building in the rem ipsum dolor sit...
            %p
              %i.icon-location>
              Chicago, USA
          .clearfix
  -#%article.experts
    .container
      %h2 Experts on real Estates
      %h3 We Build our Products to represent our values
      %a.btn.btn-image{href: "#"} Properties on Sale
  -#%article.team
    .container
      %h2 Meet the Team
      %p.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, omnis, porro, vero explicabo repellendus nisi quibusdam in aliquam nesciunt quos suscipit fuga aperiam et veniam ratione nemo doloremque a! Sed!
      .team-item
        %figure.item-thumbnail
          %img{alt: "//", src: "/assets/img/team/team1.jpg"}/
          %span.overthumb
          .icons
            %a.btn.btn-image{href: "#"} View Profile
        %h6 Mike Smithson
        %a{href: "#"} mike@company.com
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, voluptatum, consequatur non.
      .team-item
        %figure.item-thumbnail
          %img{alt: "//", src: "/assets/img/team/team2.jpg"}/
          %span.overthumb
          .icons
            %a.btn.btn-image{href: "#"} View Profile
        %h6 Mike Smithson
        %a{href: "#"} mike@company.com
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, voluptatum, consequatur non.
      .team-item
        %figure.item-thumbnail
          %img{alt: "//", src: "/assets/img/team/team3.jpg"}/
          %span.overthumb
          .icons
            %a.btn.btn-image{href: "#"} View Profile
        %h6 Mike Smithson
        %a{href: "#"} mike@company.com
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, voluptatum, consequatur non.
      .team-item
        %figure.item-thumbnail
          %img{alt: "//", src: "/assets/img/team/team4.jpg"}/
          %span.overthumb
          .icons
            %a.btn.btn-image{href: "#"} View Profile
        %h6 Mike Smithson
        %a{href: "#"} mike@company.com
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, voluptatum, consequatur non.
  %article.super-offers
    .container
      .col-md-6
        .boxes
          .onsale
            -#%span> On Sale
            Treatment
          - treatments.each do |t|
            - if current_user
              - t.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - t.add_to_views({:referer => referer})
            .property-item{ class: "#{'big' if t.main}"}
              %figure.item-thumbnail.darken
                = image_tag t.image, alt: t.name
                %span.overthumb
                .icons
                  = link_to facility_click_path(t, :referer => referer), target: '_blank 'do 
                    %i.icon-plus
              %p
                = link_to facility_click_path(t, :referer => referer), target: '_blank 'do
                  %strong= t.name
              %p= raw t.short_description
              %p
                %i.icon-location>
                = t.city
                = t.state
          .clearfix
      .col-md-6
        .boxes
          .onsale
            Detox
          - detox.each do |t|
            - if current_user
              - t.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - t.add_to_views({ :referer => referer  })
            
            .property-item{ class: "#{'big' if t.main}"}
              %figure.item-thumbnail.darken
                = image_tag t.image, alt: t.name
                %span.overthumb
                .icons
                  = link_to facility_click_path(t, :referer => referer), target: '_blank 'do 
                    %i.icon-plus
              %p
                = link_to facility_click_path(t, :referer => referer), target: '_blank 'do
                  %strong= t.name
              %p= raw t.short_description
              %p
                %i.icon-location>
                = t.city
                = t.state
          .clearfix
      .col-md-6
        .boxes
          .onsale
            Sober Living
          - sober_living.each do |t|
            
            - if current_user
              - t.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - t.add_to_views({ :referer => referer })
            .property-item{ class: "#{'big' if t.main}"}
              %figure.item-thumbnail.darken
                = image_tag t.image, alt: t.name
                %span.overthumb
                .icons
                  = link_to facility_click_path(t, :referer => referer ), target: '_blank 'do 
                    %i.icon-plus
              %p
                = link_to facility_click_path(t, :referer => referer), target: '_blank 'do
                  %strong= t.name
              %p= raw t.short_description
              %p
                %i.icon-location>
                = t.city
                = t.state
          .clearfix
      .col-md-6
        .boxes
          .onsale
            Intensive Outpatient
          - intensive_outpatient.each do |t|
            
            - if current_user
              - t.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - t.add_to_views( :referer => referer{})
            .property-item{ class: "#{'big' if t.main}"}
              %figure.item-thumbnail.darken
                = image_tag t.image, alt: t.name
                %span.overthumb
                .icons
                  = link_to facility_click_path(t, :referer => referer), target: '_blank 'do 
                    %i.icon-plus
              %p
                = link_to facility_click_path(t, :referer => referer), target: '_blank 'do
                  %strong= t.name
              %p= raw t.short_description
              %p
                %i.icon-location>
                = t.city
                = t.state
          .clearfix
      .col-md-6
        .boxes
          .onsale
            Interventionists
          - interventionists.each do |t|
            
            - if current_user
              - t.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - t.add_to_views({ :referer => referer})
            .property-item{ class: "#{'big' if t.main}"}
              %figure.item-thumbnail.darken
                = image_tag t.image, alt: t.name
                %span.overthumb
                .icons
                  = link_to facility_click_path(t, :referer => referer), target: '_blank 'do 
                    %i.icon-plus
              %p
                = link_to facility_click_path(t, :referer => referer), target: '_blank 'do
                  %strong= t.name
              %p= raw t.short_description
              %p
                %i.icon-location>
                = t.city
                = t.state
          .clearfix
      .col-md-6
        .boxes
          .onsale
            Outpatient Detox
          - outpatient_detox.each do |t|
            
            - if current_user
              - t.add_to_views({:user_id => current_user.id, :referer => referer})
            -else
              - t.add_to_views({ :referer => referer})
            .property-item{ class: "#{'big' if t.main}"}
              %figure.item-thumbnail.darken
                = image_tag t.image, alt: t.name
                %span.overthumb
                .icons
                  = link_to facility_click_path(t, :referer => referer), target: '_blank 'do 
                    %i.icon-plus
              %p
                = link_to facility_click_path(t, :referer => referer), target: '_blank 'do
                  %strong= t.name
              %p= raw t.short_description
              %p
                %i.icon-location>
                = t.city
                = t.state
          .clearfix
