%section.section
  .container
    .row
      .col-sm-4.col-md-4
        .panel.panel-default
          .panel-body
            %h3 Frequently Asked Questions
            
            %strong How do I change my member name?
            %br
            Submit the form above requesting a name change. Include with the request three names you would like to use. We will change your name to the first one on your list that is not in use by another member.
            %br
            %br

            %strong Why can't I hear anything in the Video Meetings?
            %br
            If you are using Internet Explorer try downloading Google Chrome or Firefox and access the site using one of those browsers. This resolves most problems with our site.
            %br
            %br

      .col-sm-8.col-md-8
        .panel.panel-default
          .panel-body
            = simple_form_for( contact, :url => contacts_path, method: 'Post', html: { class: "form-contact"}) do |f|
              .form-group
                %label Name
                = f.input :first_name, label: false, input_html: { class: 'string required form-control', placeholder: "" }
              .form-group
                %label E-Mail
                = f.input :email, label: false, input_html: { class: 'string required form-control', placeholder: "" }
              .form-group
                %label Phone
                = f.input :phone, label: false, input_html: { class: 'string required form-control', placeholder: "" }
              .form-group
                %label Message
                = f.input :message, label: false, input_html: { class: 'string required form-control', placeholder: "" }
              %input.btn.btn-inverse.btn-lg{:name => "submit", :type => "submit", :value => "Send Message"}/

