= simple_form_for(user, :url => users_profile_path(user), html: {class: 'form-horizontal clearfix', novalidate: true}) do |f|
  = f.input :first_name             , label: false, input_html: { class: 'form-control input-lg', placeholder: "First Name"             }
  %br
  = f.input :last_name              , label: false, input_html: { class: 'form-control input-lg', placeholder: "Last Name"              }
  %br
  = f.input :phone                  , label: false, input_html: { class: 'form-control input-lg', placeholder: "Phone"                  }
  %br
  = f.input :gender                 , label: false, input_html: { class: 'form-control input-lg', placeholder: "Gender"                 }, :as => :select, :collection => gender_list, include_blank: true
  %br
  = f.input :address                , label: false, input_html: { class: 'form-control input-lg', placeholder: "Address"                }
  %br
  = f.input :city                   , label: false, input_html: { class: 'form-control input-lg', placeholder: "City"                   }
  %br
  = f.input :state                  , label: false, input_html: { class: 'form-control input-lg', placeholder: "State"                  }, :as => :select, :collection => us_states, include_blank: true
  %br
  = f.input :zip                    , label: false, input_html: { class: 'form-control input-lg', placeholder: "Zip"                    }
  %br
  =# f.input :recovery_type
  %strong Birthday
  #birthday.input-group.date
    = f.input :birthday , label: false, input_html:   { class: 'form-control input-lg datepicker', value: "#{ user.birthday.strftime('%m/%d/%Y') if user.birthday}"             }, :as => :string
    %span.input-group-addon
      %span.glyphicon.glyphicon-calendar
  %strong Sober Date
  #sober_date.input-group.date
    = f.input :sober_date , label: false, input_html: { class: 'form-control input-lg datepicker', value: "#{ user.sober_date.strftime('%m/%d/%Y') if user.sober_date}"             }, :as => :string
    %span.input-group-addon
      %span.glyphicon.glyphicon-calendar
  %br
  = f.input :photo                  , label: false, input_html: { class: 'form-control input-lg', placeholder: "Photo"                  }
  %br
  = f.input :password               , label: false, input_html: { class: 'form-control input-lg', placeholder: "Password"               }
  %br
  = f.input :password_confirmation  , label: false, input_html: { class: 'form-control input-lg', placeholder: "Password Confirmation"  }
  %br
  = f.button :submit, 'Save', class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'
