#personal_information.tab-pane.active
  .inner-padding
    .client-block
      %ul.client-block-list
        .pull-right
          - if user == current_user
            = link_to edit_users_profile_path(user) do 
              %i.fa.fa-edit
              Edit
        %li
          %span.text-muted 
            Username 
          = user.username 
        %li
          %span.text-muted 
            Email 
          = user.email 
        %li
          %span.text-muted 
            Name 
          = user.name 
        %li
          %span.text-muted 
            Gender 
          = user.gender.titleize
        %li
          %span.text-muted 
            Address 
          = user.full_address
        -#%li
          %span.text-muted 
            Recovery Type 
          = user.recovery_type.titleize
        %li
          %span.text-muted 
            Phone 
          = number_to_phone(user.phone)
        %li
          %span.text-muted 
            Sober Time
          = user.sober_ago 
        %li
          %span.text-muted 
            Birthday 
          = user.birthday 
