.subheading
  %h3 Fellowships
%table#tablesorting-1.table
  %thead
    %tr
      %th Name
      %th Description
      %th Image 
      %th Members
      %th Active
      %th
  %tbody
    - fellowships.each do |f|
      %tr
        %td= f.name
        %td= f.description
        %td= f.image
        %td= f.users.count
        %td
          - if f.active
            Yes
          -else 
            No
        %td
          = link_to 'Edit', edit_admins_fellowship_path(f), class: 'pull-right btn btn-default btn-sm' 
  %tfoot
    %tr
      %td.pager.form-horizontal{colspan: "5"}
        %button.btn.first
          %i.fa.fa-step-backward
        %button.btn.prev
          %i.fa.fa-arrow-left
        %span.pagedisplay
        / this can be any element, including an input
        %button.btn.next
          %i.fa.fa-arrow-right
        %button.btn.last
          %i.fa.fa-step-forward
        %select.pagesize.input-xs{title: "Select page size"}
          %option{selected: "selected", value: "10"} 10
          %option{value: "20"} 20
          %option{value: "30"} 30
          %option{value: "40"} 40
        %select.pagenum.input-xs{title: "Select page number"}
      %td{colspan: "1"}= link_to 'Add', new_admins_fellowship_path, class: 'pull-right'

