= simple_form_for([:admins, admin], html: {class: 'clearfix', novalidate: true}) do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :first_name
  = f.input :last_name
  = f.input :phone
  = f.input :active if admin != current_admin
  =# f.input :send_sms
  = f.button :submit, class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'

