= simple_form_for([:admins, admin], html: {class: 'clearfix', novalidate: true}) do |f|
  = f.input :email                  , label: false, input_html: { class: 'form-control input-lg', placeholder: "Email"                  }
  %br
  = f.input :password               , label: false, input_html: { class: 'form-control input-lg', placeholder: "Password"               }
  %br
  = f.input :password_confirmation  , label: false, input_html: { class: 'form-control input-lg', placeholder: "Password Confirmation"  }
  %br
  = f.input :first_name             , label: false, input_html: { class: 'form-control input-lg', placeholder: "First Name"             }
  %br
  = f.input :last_name              , label: false, input_html: { class: 'form-control input-lg', placeholder: "Last Name"              }
  %br
  = f.input :phone                  , label: false, input_html: { class: 'form-control input-lg', placeholder: "Phone"                  }
  %br
  = f.input :active if admin != current_admin
  =# f.input :send_sms
  = f.button :submit, class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'

