.subheading
  %h3 Admins
%table#tablesorting-1.table
  %thead
    %tr
      %th email
      %th name
      %th phone
      %th active 
      %th
  %tbody
    - admins.each do |a|
      %tr
        %td= a.email
        %td= a.name
        %td= number_to_phone(a.phone)
        %td
          - if a.active
            Yes
          -else 
            No
        %td= link_to 'Edit', edit_admins_admin_path(a), class: 'pull-right btn btn-default btn-sm'
  %tfoot
    %tr
      %td.pager.form-horizontal{colspan: "4"}
        %button.btn.first
          %i.fa.fa-step-backward
        %button.btn.prev
          %i.fa.fa-arrow-left
        %span.pagedisplay
        / this can be any element, including an input
        %button.btn.next
          %i.fa.fa-arrow-right
        %button.btn.last
          %i.fa.fa-step-forward
        %select.pagesize.input-xs{title: "Select page size"}
          %option{selected: "selected", value: "10"} 10
          %option{value: "20"} 20
          %option{value: "30"} 30
          %option{value: "40"} 40
        %select.pagenum.input-xs{title: "Select page number"}
      %td{colspan: "1"}= link_to 'Add Addmin', new_admins_admin_path, class: 'pull-right'
