!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      = t(:company_name).titleize
      |
      = t(:tagline).titleize
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag 'social.core'
    = stylesheet_link_tag 'social.frontend'
    = stylesheet_link_tag 'font-awesome/font-awesome'
    = stylesheet_link_tag 'themes/frontend/blue'
    :css
      .wrapper .main {
        margin-top: 60px;
      }
    /[if lt IE 8]
      = javascript_include_tag 'html5shiv/html5shiv'
      = javascript_include_tag 'plugins/respond/respond.min'
    = csrf_meta_tags
  %body
    .wrapper
      %header
        %nav#navbar.social-navbar.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "#"}
                %h1
                  = t(:company_name).titleize
            .navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to root_path do
                    Home
                %li.dropdown
                  = link_to '/meetings?meeting[meeting]', class: 'dropdown-toggle', "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
                    Meetings
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/meetings?meeting[meeting]"} Meetings
                    - if current_user
                      %li
                        = link_to t(:add_your_meeting), new_meeting_path 
                %li
                  = link_to t(:online_meeting), root_path
                %li.dropdown
                  = link_to directorys_path(:facilty => 'Treatment'), class: 'dropdown-toggle', "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
                    Directory
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/directorys?facility[facility]=detox"}Detox
                    %li
                      %a{:href => "/directorys?facility[facility]=Intensive Outpatient"}Intensive Outpatient
                    %li
                      %a{:href => "/directorys?facility[facility]=Interventionists"}Interventionists
                    %li
                      %a{:href => "/directorys?facility[facility]=Outpatient Detox"}Outpatient Detox
                    %li
                      %a{:href => "/directorys?facility[facility]=Sober Living"}Sober Living
                %li
                  = link_to t(:contact_us), new_contact_path
                %li
                  = link_to t(:about_us), about_us_path
                - unless current_user
                  %li
                    = link_to t(:log_in), new_user_session_path
                - else
                  %li.dropdown
                    = link_to '#', class: 'dropdown-toggle', "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
                      Profile
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        = link_to t(:profile), users_profile_path(current_user)
                      %li
                        = link_to t(:log_out), destroy_user_session_path

      .main
        = yield
      / BEGIN FOOTER
      %footer.section.footer
        .container
          .row.website-info
            .col-sm-4.col-md-4
              %h4
                Latest Posts
              %ul.posts-list
                %li
                  %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur.
                %li
                  %a{:href => "#"} Lorem ipsum.
                %li
                  %a{:href => "#"} Lorem ipsum dolor.
                %li
                  %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing.
                %li
                  %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing.
            .col-sm-4.col-md-4
              %h4 Social Networks
              .social-timeline
                %dl.dl-horizontal
                  %dt
                    %i.fa.fa-twitter
                  %dd
                    %a{:href => "#ignore"} @juliomrqz
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, modi. 
                    %small 5 min ago
                %dl.dl-horizontal
                  %dt
                    %i.fa.fa-facebook
                  %dd
                    %a{:href => "#ignore"} Julio Marquez
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, modi. 
                    %small 7 min ago
              %form.form-inline{:action => "#"}
                .input-group
                  %input.form-control{:type => "text"}
                  %span.input-group-btn
                    %button.btn.btn-inverse{:type => "button"} Subscribe
            .col-sm-4.col-md-4.company-info
              %h4
                Who Are We?
              %p
                Lorem ipsum dolor slo onsec tueraliquet Morbi nec In Curabitur lreaoreet nisl lorem in pellente pellente eget. Lorem ipsum dolor slo onsec Vivamus.
              %address
                %strong
                  Recovery Anytime
                %br
                123 Some Street Suite 000
                %br
                Fort Lauderdale, Florida 33312
                %br
                %br
                %i.fa.fa-phone
                  866-687-8851
                %br
                %i.fa.fa-envelope
                  info@RecoveryAnytime.com
          .row.social-network-footer
            .col-sm-12.align-center
              %ul
                %li
                  %a.btn.btn-social-icon.btn-warning{:title => "RSS"}
                    %i.fa.fa-rss
                %li
                  = link_to 'https://www.facebook.com/recoveryanytime', class: 'btn btn-social-icon btn-facebook', target: '_blank' do
                    %i.fa.fa-facebook
                %li
                  %a.btn.btn-social-icon.btn-twitter{:title => "Twitter"}
                    %i.fa.fa-twitter
                %li
                  %a.btn.btn-social-icon.btn-google-plus{:title => "Google+"}
                    %i.fa.fa-google-plus
                %li
                  %a.btn.btn-social-icon.btn-linkedin{:title => "Linkedin"}
                    %i.fa.fa-linkedin
          .row.copyright
            .col-sm-12
              %p
                Copyright &copy; 2014 -
                =link_to 'Privacy Policy', privacy_policy_path
                \-
                %strong Recovery Anytime
                = link_to root_path, class: 'to_top' do
                  %i.fa-icon-clock
      / END FOOTER
    / jQuery
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/assets/jquery/jquery.min.js"><\/script>')
    / Bootstrap JS
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    :javascript
      $.fn.modal || document.write('<script src="/assets/plugins/bootstrap/bootstrap.min.js"><\/script>')
    / Bootstrap Hover Dropdown
    = javascript_include_tag 'plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min'
    = javascript_include_tag 'app'
    :javascript
      /*<![CDATA[*/
      $("a[href='#ignore']").click(function(e) {
        e.stopPropagation()
      });
      /*]]>*/
